page-latest-issues 
{

    .scroll-content
    {
        overflow-y:hidden!important;
    }
    .latest-issues-changes
    {
        width:100%;
        float: left;
        height:100vh;
        background:#e1e1e1;
    }
    .y-latest-header .toolbar-background-md,
    .y-home-header .toolbar-background-wp,
    .y-home-header .toolbar-background-ios
    {
        background-color:#e4198c!important;
    }
    .latest-issues-footer
    {
        background-color:#e5198a!important;
        width:100%;
        float: left;  
    }
    .y-latest-header .toolbar-ios ion-title, .y-latest-header .toolbar-background-wp
    {
        background-color:#e4198c!important;
    }
    .y-latest-header .toolbar-title-md,
    .y-latest-header .toolbar-title-wp,
    .y-latest-header .toolbar-title-ios
    {
        
      
        float: left;
    }
    .y-latest-header .bar-button-default-md,
    .y-latest-header .bar-button-default-ios,
    .y-latest-header .bar-button-default-wp
    
    {
        color:#fff!important;
    }
    .y-latest-header .toolbar-title-md,
    .y-latest-header .toolbar-title-wp,
    .y-latest-header .toolbar-title-ios
    {
        font-size:13px!important;
        color:#fff!important;
        font-weight:100!important;
    }
    .y-latest-header .toolbar-title-ios
    {
        text-align:left!important;
    }
    .y-home-header .toolbar-title-ios
    {
        height:50px;
        width:80px;
        float: left;
        padding:10px;
    }
    .sliders-bottm-sec img
    {
        max-width:100%;
        float: left;
        width:100%;
    }
    .segment-ios .segment-button
    {
        height:100%!important;
        padding-top:5px;
        text-transform:uppercase!important;
    }
    .y-latest-header .toolbar-ios ion-title
    {
        padding:15px 0 0 52px!important;
    }
   .tab-switch-outers
   {
        width: 100%;
        float: left;
        margin: 0;
        padding: 0;
        height:42px!important;
    }
    ion-segment-button.each-segment-tabs.segment-button.segment-activated 
    {
        border-color: #fff!important;
        color: #fff!important;
        opacity:0.8;
        width:50%;
        font-size:13px!important;
        background-color:#cf147f;
        border:none!important;
        
    }
    .segment-ios .segment-button.segment-activated
    {
        background-color:#cf147f!important;
        opacity:0.8;
    }
    ion-segment-button.each-segment-tabs.segment-button
     {
       
        color: #fff !important;
        width: 50%;
    }
    .segment-ios .segment-button.segment-activated
    {
        background:transparent!important;
      
    }
    .segment-ios .segment-button
    {
        border-color:#fff;
    }
    .segment-ios .segment-button:hover:not(.segment-activated)
    {
        background-color:#cf147f!important;
        border:none!important;
    }
    .segment-ios .segment-button:last-of-type
    {
        border:none!important;
    }
    ion-segment-button.each-segment-tabs.segment-button
    {
        border:none!important;
    }
    .views-tabs-seg 
    {
        width: 100%;
        float: left;
    }
    .my-maz-ot
    {
        width: 100%;
        float: left;
        padding: 5px;
        background:#fff;

    }
    .search-bar {
        width: 100%;
        float: left;
        position: fixed;
        z-index: 9999;
        overflow: hidden;
        box-sizing: border-box;
    }
      .yg-input.input.input-md,
      .yg-input.input.input-wp,
      .yg-input.input.input-ios 
        {
            color: #fff;
            background: #fff;
            float: left;
            height: 35px;
            border: 1px solid #e1e1e1;
            border-radius: 5px;
            margin: 0!important;
        }
        .text-input-md,.text-input-wp,.text-input-ios
        {
            margin:8px 8px!important;
        }
    .search-yg 
    {
        height: 45px;
        width:100%;
        float: left;
        background: #f8f8f8;
        border-bottom: 1px solid #e1e1e1;
        padding:5px 25px 5px 5px;
    }
    .my-maz-in
    {
        width: 100%;
        float: left;
        margin: 0;
        padding: 0;
    }
    .my-maz-each 
    {
        width: 50%;
        float: left;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding:0px;
        margin:0px 0 10px 0;
    }
    .my-mz-imag 
    {
        width: 100%;
        float: left;
        padding:10px;
        cursor: pointer;
    }
    .yg-img 
    {
        width:100%;
        height:130px;
        float: left;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
        box-sizing: border-box;
    }
    img.mz-mg {
        width: 100%;
        float: left;
        height: 100%;
    }
    .y-article 
    {
        width: 100%;
        float: left;
        min-height: 30px;
        background-color: #cf147f;
        text-align: center;
        color: #fff;
        padding: 10px;
        line-height: 16px;
        font-size: 13px;
    }  
    .sliders-bottm-sec
    {
        width:100%;
        float: left;
        position: fixed;
        bottom:42px;
        left:0px;
        right:0px;
        box-sizing: border-box;
        max-width:100%;
        overflow: hidden;
      
    }
    .sliders-outers img
    {
        width:100%;
        max-width:100%;
        float: left;
    }  
    .search-items-list
    {
        width: 100%;
        float: left;
        height: 50px;
        background: #ddd;
        border-bottom: 1px solid #e1e1e1;
    }
   .search-items
   {
        width: 100%;
        float: left;
        padding: 0;
    }
    .search-items 
    {
        width: 100%;
        float: left;
        padding: 8px;
    }
    .input.input-md,.input.input-wp,.input.input-ios
    {
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        background: #fff;
        box-sizing: border-box;
        margin: 0;
        font-size: 13px;
        cursor: pointer;
        padding: 0 10px 0 0px;
        color: #666;
    }
    .mz-sub-inner-sec
    {
        width:100%;
        float: left;
        margin:0;
        overflow-y:auto;
        overflow-x: hidden;
        height:calc(100vh - 148px);
    }
    #style-2::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius:20px;
        background-color: #ddd;
    }

    #style-2::-webkit-scrollbar
    {
        width:8px;
        background-color: #ddd;
    }

    #style-2::-webkit-scrollbar-thumb
    {
        border-radius:20px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #888;
    }
    @media screen and  (min-width:320px) and (max-width:480px)
    {
        .sliders-bottm-sec img{height:70px!important;}
        // ion-segment-button.each-segment-tabs.segment-button.segment-activated,
        // ion-segment-button.each-segment-tabs.segment-button{font-size:15px!important;}
        // .yg-img{height:250px!important;}
    }
    @media screen and  (min-width:481px) and (max-width:640px)
    {
        .y-latest-header .toolbar-title-md,
        .y-latest-header .toolbar-title-wp,
        .y-latest-header .toolbar-title-ios
        {
            font-size:16px!important;
        }
        .sliders-bottm-sec img{height:80px!important;}
        ion-segment-button.each-segment-tabs.segment-button.segment-activated,
        ion-segment-button.each-segment-tabs.segment-button{font-size:16px!important;}
        .yg-img{height:300px!important;}
    }
    @media screen and  (min-width:641px) and (max-width:767px)
    {
        .y-latest-header .toolbar-title-md,
        .y-latest-header .toolbar-title-wp,
        .y-latest-header .toolbar-title-ios
        {
            font-size:16px!important;
        }
        .sliders-bottm-sec img{height:100px!important;}
        ion-segment-button.each-segment-tabs.segment-button.segment-activated,
        ion-segment-button.each-segment-tabs.segment-button{font-size:18px!important;}
        .yg-img{height:300px!important;}
    }
    @media screen and  (min-width:768px) and (max-width:997px)
    {
        .y-latest-header .toolbar-title-md,
        .y-latest-header .toolbar-title-wp,
        .y-latest-header .toolbar-title-ios
        {
            font-size:18px!important;
        }
        .sliders-bottm-sec img{height:100px!important;}
        ion-segment-button.each-segment-tabs.segment-button.segment-activated,
        ion-segment-button.each-segment-tabs.segment-button{font-size:18px!important;}
        .yg-img{height:350px!important;}
    }
    @media screen and  (min-width:998px) and (max-width:1024px)
    {
        
        .y-latest-header .toolbar-title-md,
        .y-latest-header .toolbar-title-wp,
        .y-latest-header .toolbar-title-ios
        {
            font-size:18px!important;
        }
        .sliders-bottm-sec img{height:120px!important;}
        ion-segment-button.each-segment-tabs.segment-button.segment-activated,
        ion-segment-button.each-segment-tabs.segment-button{font-size:18px!important;}
        .yg-img{height:400px!important;}
    }
    @media screen and  (min-width:1025px) and (max-width:1280px)
    {
           
        .y-latest-header .toolbar-title-md,
        .y-latest-header .toolbar-title-wp,
        .y-latest-header .toolbar-title-ios
        {
            font-size:18px!important;
        }
        .sliders-bottm-sec img{height:120px!important;}
        ion-segment-button.each-segment-tabs.segment-button.segment-activated,
        ion-segment-button.each-segment-tabs.segment-button{font-size:18px!important;}
        .yg-img{height:450px!important;}
    }
    @media screen and  (min-width:320px) and (max-width:1280px) and (orientation:landscape)
    {
        .scroll-content{overflow-y: scroll!important;}
    }
    
}

