page-login
 {
    .scroll-content
    {
        overflow-y:hidden!important;
    }
    .yg-login-header
    {
        width:100%;
        float: left;
        box-sizing: border-box;
    }
    .header-md::after,
    .header-wp::after,
    .header-ios::after
    {
        background-image:none!important;
    }
    .yg-login-header .toolbar-background-md,
    .yg-login-header .toolbar-background-ios,
    .yg-login-header .toolbar-background-wp
    {
        background:transparent!important;
    }
    .login-inner-sec
    {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
        background-image: url(./../../assets/imgs/login_signup_bg.png);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .login-up-outers
    {
        width: 100%;
        float: left;
        padding: 6px;
        position: absolute;
        top:20%;
        transform: translateY(-20%);
    }
    .login-sub-inner-sec.grid 
    {
        width: 100%;
        float: left;
        margin: 0;
        box-sizing: border-box;
    }
    .login-each-field.row 
    {
        float: left;
        margin:2px 0;
        padding: 0;
        width: 100%;
    }
    .login-up-each-input
    {
        float: left;
        margin: 0;
        padding: 0!important;
        width: 100%;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios
    {
        border:none!important;
    }
    .input-field-y input.text-input.text-input-md,
    .input-field-y input.text-input.text-input-ios,
    .input-field-y input.text-input.text-input-wp
    {
        height: 35px;
        border: 1px solid #e4198c;
        border-radius: 2px;
        float: left;
        margin: 0;
        padding: 0 10px 0 30px;
        box-sizing: border-box;
        line-height: 20px;
        font-size: 13px;
        font-weight:500;
        background: #fff!important;
        width: 100%;
        max-width: 100%;
        position: relative;
        color:#e4198c;
    }
    
    .login-register-here.col 
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        margin: 0;
        padding: 0;
    }
    .login-register-here-outer
    {
        width: 100%;
        float: left;
        margin: 0;
        padding:5px;
        cursor: pointer;
    }
    .login-up-header
    {
        font-size:15px;
        margin:0;
        padding:0;
        box-sizing: border-box;
        line-height:20px;
        text-transform: capitalize;
    }
    .register-button 
    {
        width: 100%;
        float: left;
        box-shadow: none;
        font-size: 15px;
        margin: 0;
        box-sizing: border-box;
        cursor: pointer;
        height: inherit;
        padding:10px 20px;
        line-height: 16px;
        text-transform:uppercase;
        background-color:#e4198c;
        color:#fff;
        margin-top:20px;
        border-radius:2px!important;
        text-transform: capitalize!important;
    }
    .fotter-sec.row 
    {
        width: 100%;
        float: left;
        position: absolute;
        bottom: 0;
        height: 30px;
    }
    .login-fotter-sec.col 
    {
         width: 100%;
         float: left;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     span.already-reg 
     {
         font-size: 11px;
         float: left;
         margin: 0;
         padding: 0;
         line-height: 16px;
         color:black;
     }
     a.login-now 
     {
         cursor: pointer;
         font-weight:100;
         text-decoration: none;
         margin: 0;
         padding: 0;
         color:#e4198c!important;
         text-decoration: underline;
     }
    .login-with.col
    {
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    span.login-with-fg
     {
        position: relative;
        font-size:9px;
        letter-spacing: 1.2px;
        line-height: 10px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color:#e4198c!important;
        opacity:0.6;
    }
    span.login-with-fg:before 
    {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        background-color: #e4198c !important;
        left: -96px;
        bottom: 5px;
    }
    span.login-with-fg::after 
    {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        background-color: #e4198c !important;
        border-bottom: 10px;
        right: -98px;
        bottom: 6px;
    }
    
    input::placeholder 
    {
        color:#e4198c!important;
        opacity:0.5;
    }
    i.user-icons 
    {
        position: absolute;
        left: 9px;
        z-index: 999999;
        color:#e4198c!important;
        top: 11px;
    }
    .social-button.facebook
    {
            height: inherit;
            margin: 0;
            padding: 10px;
            display: block;
            width: 100%;
            box-sizing: border-box;
            line-height: 16px;
            font-size: 13px;
            background-color: #3b5998!important;
            box-shadow: none!important;
            cursor: pointer;
            border-radius:2px;
            text-transform: capitalize!important;
            
    }
    .social-button.google
    {
            height: inherit;
            margin: 0;
            padding: 10px;
            display: block;
            width: 100%;
            box-sizing: border-box;
            line-height: 16px;
            font-size: 13px;
            background-color: #b84239!important;
            box-shadow: none!important;
            cursor: pointer;
            border-radius:2px;
            text-transform: capitalize!important;
            
    }
    i.fa.fa-facebook,  i.fa.fa-google-plus
    {
        float: left;
        padding-right: 10px;
        line-height: 10px;
    }
}
