<ion-header class="y-home-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="items-list">
      <img src="assets/imgs/logo_youga.png" class="logo-images">
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="offer" class="views-tabs-sec">
    <ion-segment-button value="beginner" text-uppercase class="views-tabs-seg">
      beginner
    </ion-segment-button>
    <ion-segment-button value="intermediate" text-uppercase class="views-tabs-seg">
      intermediate
    </ion-segment-button>
    <ion-segment-button value="expert" text-uppercase class="views-tabs-seg">
      expert
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="offer" class="tab-switch-outers">
    <div *ngSwitchCase="'beginner'" class="each-segment-tabs">
      <ion-grid class="deals-sub-inner-sec">
        <ion-row class="deals-each-row" *ngFor="let b of beginer">
          <ion-col col-4 col-md-2 col-sm-2 col-lg-2 class="deals-each-elements">
            <span class="deals-each-images">
              <img [src]="''+b.thumbnail.link" />
            </span>

          </ion-col>
          <ion-col col-8 col-md-10 col-sm-10 col-lg-10 class="deals-text-elements">
            <span class="deals-each-text-elements">
              <span class="deals-inner-sec">
               {{b.short_desc}}
              </span>
              <span class="get-now" (click)="openPosesPage(b)">
                <img src="./../../assets/imgs/PoseListScreen_details.png" class="gt-now" />
              </span>
              <span class="forward-now" (click)="openPosesPage(b)">
                <img src="./../../assets/imgs/offersListScreen copy-02.png" class="off-light" />
              </span>

            </span>
          </ion-col>
        </ion-row>



      </ion-grid>
    </div>
    <div *ngSwitchCase="'intermediate'" class="each-segment-tabs">
      <ion-grid class="deals-sub-inner-sec">

        <ion-row class="deals-each-row" *ngFor="let i of intermediate">
          <ion-col col-4 col-md-2 col-sm-2 col-lg-2 class="deals-each-elements">
            <span class="deals-each-images">
              <img [src]="''+i.thumbnail.link" />
            </span>

          </ion-col>
          <ion-col col-8 col-md-10 col-sm-10 col-lg-10 class="deals-text-elements">
            <span class="deals-each-text-elements">
              <span class="deals-inner-sec">
               {{i.short_desc}}
              </span>
              <span class="get-now" (click)="openPosesPage(i)">
                <img src="./../../assets/imgs/PoseListScreen_details.png" class="gt-now" />
              </span>
              <span class="forward-now" (click)="openPosesPage(i)">
                <img src="./../../assets/imgs/offersListScreen copy-02.png" class="off-light" />
              </span>

            </span>
          </ion-col>
        </ion-row>


      </ion-grid>
    </div>
    <div *ngSwitchCase="'expert'" class="each-segment-tabs">
      <ion-grid class="deals-sub-inner-sec">

        <ion-row class="deals-each-row"  *ngFor="let e of expert">
          <ion-col col-4 col-md-2 col-sm-2 col-lg-2 class="deals-each-elements">
            <span class="deals-each-images">
              <img [src]="''+e.thumbnail.link" />
            </span>

          </ion-col>
          <ion-col col-8 col-md-10 col-sm-10 col-lg-10 class="deals-text-elements">
            <span class="deals-each-text-elements">
              <span class="deals-inner-sec">
                {{e.short_desc}}
              </span>
              <span class="get-now" (click)="openPosesPage(e)">
                <img src="./../../assets/imgs/PoseListScreen_details.png" class="gt-now" />
              </span>
              <span class="forward-now" (click)="openPosesPage(e)">
                <img src="./../../assets/imgs/offersListScreen copy-02.png" class="off-light" />
              </span>

            </span>
          </ion-col>
        </ion-row>


      </ion-grid>
    </div>
  </div>

</ion-content>