<ion-menu [content]="content" class="menu-header-out-y">

  <ion-content class="menu-inner-sec-y">
    <ion-row class="menu-usrer-profile-sec">
      <ion-col class="menu-inner-profiles">
        <div class="user-pf1">
          <span class="user-pf">
            <img src="./../assets/imgs/drawer_profile_pic.png" class="user-profiles" />
          </span>
        </div>
        <span class="user-names">
          YogaMagzine
        </span>
      </ion-col>
    </ion-row>

    <div class="menu-each-list">
      <ul>
        <li menuClose *ngFor="let p of pages" (click)="openPage(p)" class="y1">
          {{p.title}}
        </li>
        <span class="y3">
          ACCOUNT
        </span>
        <li menuClose *ngFor="let a of account" (click)="openPage(a)"  class="y1">
          {{a.title}}
        </li>
        <span class="y3">
          SETTINGS
        </span>
        <li menuClose *ngFor="let s of settings" (click)="openPage(s)"  class="y1">
          {{s.title}}
        </li>
        <span class="y3">
          ABOUT
        </span>
        <li menuClose *ngFor="let ab of about" (click)="openPage(ab)"  class="y1">
          {{ab.title}}
        </li>
      </ul>

    </div>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>