page-signup 
{
   
    .scroll-content
    {
        overflow-y:hidden!important;
    }
    .yg-signip-header
    {
        width:100%;
        float: left;
        box-sizing: border-box;
    }
    .header-md::after,*
    .header-wp::after,
    .header-ios::after
    {
        background-image:none!important;
    }
     .yg-signip-header .toolbar-background-md,
     .yg-signip-header .toolbar-background-ios,
     .yg-signip-header .toolbar-background-wp
    {
        background:transparent!important;
    }
    .signup-inner-sec
    {
         
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
        background-image: url(./../../assets/imgs/login_signup_bg.png);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sign-up-outers
    {
        width:100%;
        float: left;
        padding:6px;
    }
    .signup-sub-inner-sec.grid 
    {
        width: 100%;
        float: left;
        margin: 0;
        box-sizing: border-box;
       
    }
    .sign-each-field.row 
    {
        float: left;
        margin:3px 0;
        padding: 0;
        width: 100%;
    }
    .sign-up-each-input
    {
        float: left;
        margin: 0;
        padding: 0!important;
        width: 100%;
        position: relative;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios
    {
        border:none!important;
    }
    .input-field-y input.text-input.text-input-md,
    .input-field-y input.text-input.text-input-ios,
    .input-field-y input.text-input.text-input-wp
    {
        height: 35px;
        border: 1px solid #e4198c;
        border-radius:3px;
        float: left;
        margin: 0;
        padding: 0 10px 0 25px;
        box-sizing: border-box;
        line-height: 20px;
        font-size: 12px;
        font-weight:500;
        background: #fff!important;
        width: 100%;
        max-width: 100%;
        position: relative;
        color:#e4198c;;
    }
    
    .sign-register-here.col 
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        margin: 0;
        padding: 0;
    }
    .sign-up-header
    {
        font-size:14px;
        margin:0;
        padding:0;
        box-sizing: border-box;
        line-height:20px;
        text-transform: capitalize;
        color:#666;
    }
    .sign-register-heres.col 
    {
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .register-button 
    {
        width: 100%;
        float: left;
        box-shadow: none;
        font-size: 15px;
        margin: 0;
        box-sizing: border-box;
        cursor: pointer;
        height: inherit;
        padding:10px;
        line-height: 16px;
        text-transform: capitalize;
        background-color:#e4198c;
        color:#fff;
    }
    .fotter-sec.row 
    {
        width: 100%;
        float: left;
        padding-top:20px;
     
    }
   .signup-fotter-sec.col 
   {
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span.already-reg 
    {
        font-size: 12px;
        float: left;
        margin: 0;
        padding: 0;
        line-height: 16px;
        color:#e4198c;
    }
    a.login-now 
    {
        cursor: pointer;
        font-weight: 600;
        text-decoration: none;
        margin: 0;
        padding: 0;
        color:#e4198c!important;
        text-decoration: underline;
    }
    input::placeholder 
    {
        color:#e4198c!important;
        opacity:0.5;
    }
    i.user-icons 
    {
        position: absolute;
        left: 9px;
        z-index: 999999;
        color:#e4198c!important;
        top: 11px;
    }
    @media screen and  (min-width:480px) and (max-width:640px)
    {
        .sign-up-header{font-size:16px!important;}
        .sign-each-field.row{margin:5px 0!important;}
        span.already-reg{font-size:13px!important}
    }
    @media screen and  (min-width:481px) and (max-width:767px)
    {
        .sign-up-header{font-size:16px!important;}
        .sign-each-field.row{margin:5px 0!important;}
        span.already-reg{font-size:13px!important}
    }
    @media screen and  (min-width:768px) and (max-width:997px)
    {
        .sign-up-header{font-size:16px!important;}
        .sign-each-field.row{margin:5px 0!important}
        span.already-reg{font-size:13px!important}
    }
    @media screen and  (min-width:998px) and (max-width:1024px)
    {
        .sign-up-header{font: size 18px!important;}
        .sign-each-field.row{margin:10px 0!important;}
        span.already-reg{font-size:13px!important}
    }
    @media screen and  (min-width:1025px) and (max-width:1280px)
    {
        .sign-up-header{font-size:18px!important;}
        .sign-each-field.row{margin:10px 0!important;}
        span.already-reg{font-size:13px!important}
    }
    @media screen and  (min-width:320px) and (max-width:1280px) and (orientation:landscape)
    {
        .scroll-content{overflow-y: scroll!important;}
    }
}
